.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.margin-left {
    margin-left: 15px;
}

.margin-right {
    margin-right: 15px;
}

.nopad-left {
    padding-left: 0;
}

.nopad-right {
    padding-right: 0;
}

@media (max-width: 640px) {
    .center-block-mobile {
        float: none !important;
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .text-center-mobile {
        text-align: center;
    }
}

.center-block {
    float: none !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    @media (max-width: 767px) {
        display: inherit;
        float: inherit;
    }
}

.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.letter-spacing {
    letter-spacing: 2px;
}

label {
    white-space: nowrap;
}

.bg--primary-darker {
    background-color: color(primary, darker);
}

.bg--primary-dark {
    background-color: color(primary, dark);
}

.bg--primary-base {
    background-color: color(primary);
}

.bg--primary-lightest {
    background-color: color(primary, lightest);
}

.bg--primary-lighter {
    background-color: color(primary, lighter);
}

.bg--primary-light {
    background-color: color(primary, light);
}

.bg--light-base {
    background-color: color(light);
}

.bg--light-lighten {
    background-color: color(light, lighten);
}

.bg--light-lighter {
    background-color: color(light, lighter);
}

.bg--light-very-light {
    background-color: color(light, very-light);
}

.bg--light-lightest {
    background-color: color(light, lightest);
}

.bg--dark-base {
    background-color: color(dark);
}

.bg--dark-darkest {
    background-color: color(dark, darkest);
}

.bg--dark-darker {
    background-color: color(dark, darker);
}

.bg--dark-darken {
    background-color: color(dark, darken);
}