[type="submit"],
button,
.btn {
	width: auto;
	margin: space(base) 0 0;
	padding: (space(base) - 4) space(m) (space(base) - 2);

	border: 0;
	border-radius: 0;
	background-color: color(light);
	color: color(primary, dark);

	&:hover,
	&:focus {
		background-color: color(light, lighten);
		color: color(light);
		text-decoration: underline;
	}

	&:active {
		outline: 1px solid color(dark, darker) !important;
	}

	&.btn-primary {
		padding: space(base) space(g);

		font-size: font-size(medium);

		background-color: color(primary, lightest);
		color: color(light);

		&:hover,
		&:focus {
			background-color: color(primary, lighter);
			color: color(light);
			text-decoration: underline;
		}

		&:not(:disabled):not(.disabled).active,
		&:not(:disabled):not(.disabled):active,
		&:active {
			@include font(bold);

			background-color: color(primary, dark);

			text-decoration: none;
		}

	}
}