footer {
    @include responsive(medium) {
        text-align: inherit;
    }

    @include responsive(medium, max) {
        text-align: left;
    }
    @include responsive(small, max) {
        text-align: center;
    }

    $self: &;

    padding-top: space(xg);
    min-height: 443px;

    color: color(light);
    text-align: center;

    background-color: color(dark);

    h5 {
        text-transform: uppercase;
        letter-spacing: -0.5px;
    }

    a {
        @include default-feedback(
            (
                color(light),
                color(light, lightest),
                color(light, lightest),
            ),
            color
        );

        color: inherit;
    }

    .row {
        > div {
            @include responsive(medium) {
                margin-bottom: inherit;
            }

            margin-bottom: space(g);
            padding-left: space(g) / 1.1;
            padding-right: space(g) / 1.1;
        }
    }

    .#{ $self }__logo {
        @include responsive(medium) {
            margin: space(base) 0;
        }

        @include sprite($logo);
        @include hidden-text();

        position: relative;
        z-index: 2;

        margin: space(g) auto;

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        + p {
            text-align: justify;
            & + p {
                margin-top: space(xg);
            }
        }
    }

    .#{ $self }__lastProjects {
        ul {
            li {
                display: inline-block;
                margin: 0 space(p) space(p) 0;

                img {
                    @include responsive(large) {
                        max-width: 100%;
                        width: 100%;

                    }

                    @include responsive(medium, max) {
                        max-width: 10vh;
                        width: 10vh;
                    }

                    @include responsive(small, max) {
                        max-width: 15vh;
                        width: 15vh;
                    }
                }
            }
        }
    }

    .#{ $self }__contact {
        p {
            margin-top: space(g);
        }
    }

    .#{ $self }__copyright {
        margin-top: space(g);
        height: 46px;

        text-align: center;

        background-color: color(dark, darker);

        &.row {
            > div {
                margin-bottom: inherit;
                padding: inherit;
            }
        }
    }
}