header {
  $self: &;
  position: fixed;
  top: 0;
  z-index: 2000;

  width: 100%;
  min-height: 90px;

  color: color(light);

  background-color: color(dark);

  transition: all .5s ease;

  &.#{ $self }--opacity {
    @include responsive(medium) {
      background-color: rgba(color(dark), $alpha: 0.5);
    }

    background-color: rgba(color(dark), $alpha: 1);

    nav.open {
      > ul {
        @include responsive(medium) {
          background-color: rgba(color(dark), $alpha: 0.5);
        }

        background-color: rgba(color(dark), $alpha: 1);

        ul {
          background-color: inherit;
        }
      }
    }
  }

  .container {
    @include responsive(large, max) {
      max-width: 100%;
    }

    padding-left: 0;
    padding-right: 0;

    > div {
      > div {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .#{ $self }__list {
    @include responsive(large) {
      display: inherit;
    }

    display: none;

    li {
      display: inline-block;
      margin: 0 (space(p) / 2);

      &:nth-child(4n) {
        position: relative;

        margin-left: space(base);

        &:before {
          content: "";
          position: absolute;
          top: 5px;
          left: 0;
          right: 0;
          bottom: 0;

          width: 1px;
          height: 15px;
          margin: auto auto auto -10px;

          background-color: color(light);
        }
      }

      a {
        @include default-feedback((color(light),
        color(light, lightest),
        color(light, lightest),
        ),
        color);

        color: color(light);

        line-height: 2.5;
      }
    }
  }

  .#{ $self }__logo {
    @include sprite($logo);
    @include hidden-text();

    position: relative;
    z-index: 2;

    margin: space(p) auto;

    transform: scale(.9);

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  nav {
    @include responsive(large) {
      position: relative;
      top: 0;
      z-index: inherit;

      text-align: right;

      opacity: inherit;
    }

    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    bottom: 0;

    margin: 0 auto;
    flex: auto;

    transition: all .5s ease;
    opacity: 0;

    &.open {
      @include responsive(large) {
        top: inherit;
        opacity: inherit;
      }

      @include responsive(large, max) {
        font-size: font-size(small);
      }

      @include responsive(small, max) {
        font-size: font-size(medium);
      }

      top: 1px;

      opacity: 1;

      ul {
        padding: space(base) 0;

        li {
          .header__list {
            display: inherit;

            font-size: font-size(xbig);

            li {
              margin: 0 space(p);

              &:nth-child(4n) {
                position: relative;

                margin-left: space(base) * 2;

                &:before {
                  content: "";
                  position: absolute;
                  top: 5px;
                  left: 0;
                  right: 0;
                  bottom: 0;

                  width: 1px;
                  height: 15px;
                  margin: auto auto auto -24px;

                  background-color: color(light);
                }
              }
            }
          }
        }
      }
    }

    ul {
      @include responsive(large) {
        background-color: inherit;
      }
      background-color: color(dark);

      li {
        @include responsive(large) {
          position: relative;
          top: 10px;

          display: inline-block;
          margin-left: space(base);

          text-align: left;

          &:first-child {
            margin-left: 0;
          }
        }

        text-align: center;
        letter-spacing: 1px;

        .header__list {
          @include responsive(large) {
            display: none !important;
          }
        }

        a {
          @include default-feedback(
            (
              color(light),
              color(light, lightest),
              color(light, lightest),
            ),
            color
          );

          color: color(light);

          line-height: 2.5;
        }
      }
    }
  }

  button {
    &.botao-menu {
      position: absolute;
      top: space(base);
      right: space(base);

      padding: space(m) space(p);

      background-color: transparent;
      border: inherit;

      span {
        &[aria-hidden] {
          @include menu-barras(25px, 3px, 5px, color(primary));
        }
        &:not([aria-hidden]) {
          @include hidden-text(sprite);
        }
      }
      &.open {
        z-index: 1000;
        span {
          &[aria-hidden] {
            @include menu-barras-fechar;
          }
        }
      }
      @include responsive(large) {
        display: none;
      }
    }
  }
}