input {
	padding: space(base) space(m);
	width: 100%;

	border: 1px solid color(light, lighter);

	&:active,
	&:focus {
		&::placeholder {
			@include font(bold);

			color: color(primary);
		}
	}
}