section {
	@include responsive(medium) {
		padding: (space(xg) * 2) 0;
	}
	position: relative;

	padding: (space(xg) * 1.3) 0;

	&:before {
		content: "\2193";

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;

		display: flex;
		align-content: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		margin: auto auto space(g);

		color: color(light);
		font-family: FontAwesome;
		font-size: font-size(big);
		line-height: 35px;
		text-align: center;

		border-radius: 25px;
		border: 1px solid color(light);
	}

	&:first-child {
		padding-top: 0;
	}

	&:nth-child(2) {
		&:before {
			color: color(dark, darken);
			border: 1px solid color(dark, darken);
		}
	}

	&:nth-child(3) {
		&:before {
			color: color(dark, darken);
			border: 1px solid color(dark, darken);
		}
	}

	&:last-child {
		&:before {
			display: none;
		}
	}
}