select {
	padding: space(base) space(m);
	width: 100%;

	background: {
		image: url(../images/arrow-down.png);
		position: 90% 50%;
		repeat: no-repeat;
	}

	border: 1px solid color(dark, light);

	-webkit-appearance: none;
			appearance: none;

	&:active,
	&:focus {
		@include font(bold);

		color: color(primary);
	}
}