h2 {
    font-size: font-size(xxxbig); // Real Code start here
}

h3,
.h3 {
    @include font(light);
    @include responsive(medium) {
        @include font(thin);

        font-size: font-size(xxbig);
    }
    margin: space(m) 0;

    color: color(primary, dark);
    font-size: font-size(xbig);
    line-height: 1.5;
    text-transform: uppercase;
}

h4,
.h4 {
    @include font(light);

    @include responsive(medium) {
        @include font(thin);

        font-size: font-size(big);
    }

    margin-bottom: 0;

    color: color(primary, dark);
    font-size: font-size(medium);
    line-height: 1.5;
    text-transform: uppercase;
}

h5,
.h5 {
    @include font(bold);

    @include responsive(medium) {
        @include font(base);

        font-size: font-size(big);
    }

    margin-bottom: space(m);

    font-size: font-size(medium);
    text-transform: uppercase;
}

p {
    margin: 0  0 space(base);

    font-size: font-size(medium);

    + ul {
        margin-left: space(base);
        font-size: font-size(medium);
        list-style: disc;

        li {
            font-size: font-size(medium);
            list-style: inherit;
        }
    }
}

ul {
    font-size: font-size(medium);

    li {
        font-size: font-size(medium);
    }
}

a {
    font-size: font-size(medium);
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}

em {
    font-style: italic
}

strong {
    @include font(bold);
}

.text--primary-darker {
    color: color(primary, darker);
}
.text--primary-dark {
    color: color(primary, dark);
}
.text--primary-base {
    color: color(primary);
}
.text--primary-lightest {
    color: color(primary, lightest);
}
.text--primary-lighter {
    color: color(primary, lighter);
}
.text--primary-light {
    color: color(primary, light);
}

.text--light-base       {
    color: color(light);
}
.text--light-lighten    {
    color: color(light, lighten);
}
.text--light-lighter    {
    color: color(light, lighter);
}
.text--light-very-light {
    color: color(light, very-light);
}
.text--light-lightest   {
    color: color(light, lightest);
}

.text--dark-base {
    color: color(dark);
}
.text--dark-darkest {
    color: color(dark, darkest);
}
.text--dark-darker {
    color: color(dark, darker);
}
.text--dark-darken {
    color: color(dark, darken);
}

.text--size-xxxxbig {
    font-size: font-size(xxxxbig);
}
.text--size-xxxbig {
    font-size: font-size(xxxbig);
}
.text--size-xxbig {
    font-size: font-size(xxbig);
}
.text--size-xbig {
    font-size: font-size(xbig);
}
.text--size-big {
    font-size: font-size(big);
}
.text--size-medium {
    font-size: font-size(medium);
}
.text--size-small {
    font-size: font-size(small);
}
.text--size-xsmall {
    font-size: font-size(xsmall);
}