/* Variables */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";
.slide button,
.rotate button {
  outline: none; }
  .slide button.slick-arrow,
  .rotate button.slick-arrow {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    background: inherit;
    font-family: FontAwesome;
    text-rendering: auto;
    font-size: 0;
    border: 0;
    cursor: pointer; }
    @media (max-width: 64em) {
      .slide button.slick-arrow,
      .rotate button.slick-arrow {
        top: -5vh; } }
    .slide button.slick-arrow.slick-prev,
    .rotate button.slick-arrow.slick-prev {
      position: absolute;
      left: 0;
      margin: auto auto auto -8px; }
      @media (min-width: 48.0625em) {
        .slide button.slick-arrow.slick-prev,
        .rotate button.slick-arrow.slick-prev {
          margin: auto auto auto 16px; } }
      .slide button.slick-arrow.slick-prev:before,
      .rotate button.slick-arrow.slick-prev:before {
        content: "\f0d9";
        text-indent: inherit;
        font-size: 1.625rem;
        color: #ffffff; }
    .slide button.slick-arrow.slick-next,
    .rotate button.slick-arrow.slick-next {
      position: absolute;
      right: 0;
      margin: auto -8px auto auto; }
      @media (min-width: 48.0625em) {
        .slide button.slick-arrow.slick-next,
        .rotate button.slick-arrow.slick-next {
          margin: auto 16px auto auto; } }
      .slide button.slick-arrow.slick-next:before,
      .rotate button.slick-arrow.slick-next:before {
        content: "\f0da";
        text-indent: inherit;
        font-size: 1.625rem;
        color: #ffffff; }

.slick-track {
  display: flex;
  align-items: center; }

html, body, main, article, nav, aside, section,
header, footer, address, div,
h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, dl, dt, dd,
hr, pre, figure, figcaption,
table, caption, thead, tbody, tfoot, tr, th, td, col, colgroup,
form, fieldset, legend, label, input, button, select, datalist,
optgroup, option, textarea, progress, meter,
img, iframe, embed, object, param, video, audio, source,
canvas, track, map, area, del, ins,
a, em, strong, i, b, u, s, small, abbr, q, cite, dfn, sub, sup,
time, code, kbd, samp, var, bdi, bdo, ruby, rt, rp, wbr,
mark, span, br {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

:after,
:before {
  box-sizing: border-box; }

button,
select,
textarea,
input {
  color: inherit;
  font-family: inherit;
  vertical-align: middle;
  max-width: 100%; }

a {
  text-decoration: none; }
  a img,
  a svg {
    display: block;
    border: none;
    max-width: 100%; }

img,
svg {
  max-width: 100%;
  border: none; }

li {
  list-style: none; }

hr {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left; }

:focus {
  outline: none; }

[hidden], [data-hidden="true"] {
  display: none; }

h2 {
  font-size: 3.0625rem; }

h3,
.h3 {
  font-family: Roboto;
  font-weight: 300;
  margin: 24px 0;
  color: #5ca456;
  font-size: 1.625rem;
  line-height: 1.5;
  text-transform: uppercase; }
  @media (min-width: 48.0625em) {
    h3,
    .h3 {
      font-family: Roboto;
      font-weight: 100;
      font-size: 2.4375rem; } }

h4,
.h4 {
  font-family: Roboto;
  font-weight: 300;
  margin-bottom: 0;
  color: #5ca456;
  font-size: 0.875rem;
  line-height: 1.5;
  text-transform: uppercase; }
  @media (min-width: 48.0625em) {
    h4,
    .h4 {
      font-family: Roboto;
      font-weight: 100;
      font-size: 1.125rem; } }

h5,
.h5 {
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 0.875rem;
  text-transform: uppercase; }
  @media (min-width: 48.0625em) {
    h5,
    .h5 {
      font-family: Roboto;
      font-weight: 400;
      font-size: 1.125rem; } }

p {
  margin: 0 0 16px;
  font-size: 0.875rem; }
  p + ul {
    margin-left: 16px;
    font-size: 0.875rem;
    list-style: disc; }
    p + ul li {
      font-size: 0.875rem;
      list-style: inherit; }

ul {
  font-size: 0.875rem; }
  ul li {
    font-size: 0.875rem; }

a {
  font-size: 0.875rem;
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: underline; }

em {
  font-style: italic; }

strong {
  font-family: Roboto;
  font-weight: 700; }

.text--primary-darker {
  color: #467d44; }

.text--primary-dark {
  color: #5ca456; }

.text--primary-base {
  color: #68b054; }

.text--primary-lightest {
  color: #8cbe50; }

.text--primary-lighter {
  color: #b1cd49; }

.text--primary-light {
  color: #d8de3f; }

.text--light-base {
  color: #ffffff; }

.text--light-lighten {
  color: #efefef; }

.text--light-lighter {
  color: #dddddd; }

.text--light-very-light {
  color: #d7d7d7; }

.text--light-lightest {
  color: #d6d6d6; }

.text--dark-base {
  color: #000000; }

.text--dark-darkest {
  color: #2a2a2a; }

.text--dark-darker {
  color: #5f5f5f; }

.text--dark-darken {
  color: #9a9a9a; }

.text--size-xxxxbig {
  font-size: 3.625rem; }

.text--size-xxxbig {
  font-size: 3.0625rem; }

.text--size-xxbig {
  font-size: 2.4375rem; }

.text--size-xbig {
  font-size: 1.625rem; }

.text--size-big {
  font-size: 1.125rem; }

.text--size-medium {
  font-size: 0.875rem; }

.text--size-small {
  font-size: 0.75rem; }

.text--size-xsmall {
  font-size: 0.6875rem; }

input {
  padding: 16px 24px;
  width: 100%;
  border: 1px solid #dddddd; }
  input:active::placeholder, input:focus::placeholder {
    font-family: Roboto;
    font-weight: 700;
    color: #68b054; }

textarea {
  padding: 16px 24px;
  width: 100%;
  border: 1px solid #dddddd; }
  textarea:active::placeholder, textarea:focus::placeholder {
    font-family: Roboto;
    font-weight: 700;
    color: #68b054; }

select {
  padding: 16px 24px;
  width: 100%;
  background-image: url(../images/arrow-down.png);
  background-position: 90% 50%;
  background-repeat: no-repeat;
  border: 1px solid;
  -webkit-appearance: none;
  appearance: none; }
  select:active, select:focus {
    font-family: Roboto;
    font-weight: 700;
    color: #68b054; }

[type="submit"],
button,
.btn {
  width: auto;
  margin: 16px 0 0;
  padding: 12px 24px 14px;
  border: 0;
  border-radius: 0;
  background-color: #ffffff;
  color: #5ca456; }
  [type="submit"]:hover, [type="submit"]:focus,
  button:hover,
  button:focus,
  .btn:hover,
  .btn:focus {
    background-color: #efefef;
    color: #ffffff;
    text-decoration: underline; }
  [type="submit"]:active,
  button:active,
  .btn:active {
    outline: 1px solid #5f5f5f !important; }
  [type="submit"].btn-primary,
  button.btn-primary,
  .btn.btn-primary {
    padding: 16px 32px;
    font-size: 0.875rem;
    background-color: #8cbe50;
    color: #ffffff; }
    [type="submit"].btn-primary:hover, [type="submit"].btn-primary:focus,
    button.btn-primary:hover,
    button.btn-primary:focus,
    .btn.btn-primary:hover,
    .btn.btn-primary:focus {
      background-color: #b1cd49;
      color: #ffffff;
      text-decoration: underline; }
    [type="submit"].btn-primary:not(:disabled):not(.disabled).active, [type="submit"].btn-primary:not(:disabled):not(.disabled):active, [type="submit"].btn-primary:active,
    button.btn-primary:not(:disabled):not(.disabled).active,
    button.btn-primary:not(:disabled):not(.disabled):active,
    button.btn-primary:active,
    .btn.btn-primary:not(:disabled):not(.disabled).active,
    .btn.btn-primary:not(:disabled):not(.disabled):active,
    .btn.btn-primary:active {
      font-family: Roboto;
      font-weight: 700;
      background-color: #5ca456;
      text-decoration: none; }

header {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  min-height: 90px;
  color: #ffffff;
  background-color: #000000;
  transition: all .5s ease; }
  header.header--opacity {
    background-color: black; }
    @media (min-width: 48.0625em) {
      header.header--opacity {
        background-color: rgba(0, 0, 0, 0.5); } }
    header.header--opacity nav.open > ul {
      background-color: black; }
      @media (min-width: 48.0625em) {
        header.header--opacity nav.open > ul {
          background-color: rgba(0, 0, 0, 0.5); } }
      header.header--opacity nav.open > ul ul {
        background-color: inherit; }
  header .container {
    padding-left: 0;
    padding-right: 0; }
    @media (max-width: 64em) {
      header .container {
        max-width: 100%; } }
    header .container > div > div {
      padding-left: 0;
      padding-right: 0; }
  header .header__list {
    display: none; }
    @media (min-width: 64.0625em) {
      header .header__list {
        display: inherit; } }
    header .header__list li {
      display: inline-block;
      margin: 0 4px; }
      header .header__list li:nth-child(4n) {
        position: relative;
        margin-left: 16px; }
        header .header__list li:nth-child(4n):before {
          content: "";
          position: absolute;
          top: 5px;
          left: 0;
          right: 0;
          bottom: 0;
          width: 1px;
          height: 15px;
          margin: auto auto auto -10px;
          background-color: #ffffff; }
      header .header__list li a {
        color: #ffffff;
        line-height: 2.5; }
        header .header__list li a:hover {
          color: #ffffff; }
        header .header__list li a:focus {
          color: #d6d6d6; }
        header .header__list li a:active {
          color: #d6d6d6; }
  header .header__logo {
    background-image: url("../images/sprite.png");
    background-position: -648px 0px;
    width: 154px;
    height: 72px;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    z-index: 2;
    margin: 8px auto;
    transform: scale(0.9); }
    header .header__logo a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  header nav {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    flex: auto;
    transition: all .5s ease;
    opacity: 0; }
    @media (min-width: 64.0625em) {
      header nav {
        position: relative;
        top: 0;
        z-index: inherit;
        text-align: right;
        opacity: inherit; } }
    header nav.open {
      top: 1px;
      opacity: 1; }
      @media (min-width: 64.0625em) {
        header nav.open {
          top: inherit;
          opacity: inherit; } }
      @media (max-width: 64em) {
        header nav.open {
          font-size: 0.75rem; } }
      @media (max-width: 40em) {
        header nav.open {
          font-size: 0.875rem; } }
      header nav.open ul {
        padding: 16px 0; }
        header nav.open ul li .header__list {
          display: inherit;
          font-size: 1.625rem; }
          header nav.open ul li .header__list li {
            margin: 0 8px; }
            header nav.open ul li .header__list li:nth-child(4n) {
              position: relative;
              margin-left: 32px; }
              header nav.open ul li .header__list li:nth-child(4n):before {
                content: "";
                position: absolute;
                top: 5px;
                left: 0;
                right: 0;
                bottom: 0;
                width: 1px;
                height: 15px;
                margin: auto auto auto -24px;
                background-color: #ffffff; }
    header nav ul {
      background-color: #000000; }
      @media (min-width: 64.0625em) {
        header nav ul {
          background-color: inherit; } }
      header nav ul li {
        text-align: center;
        letter-spacing: 1px; }
        @media (min-width: 64.0625em) {
          header nav ul li {
            position: relative;
            top: 10px;
            display: inline-block;
            margin-left: 16px;
            text-align: left; }
            header nav ul li:first-child {
              margin-left: 0; } }
        @media (min-width: 64.0625em) {
          header nav ul li .header__list {
            display: none !important; } }
        header nav ul li a {
          color: #ffffff;
          line-height: 2.5; }
          header nav ul li a:hover {
            color: #ffffff; }
          header nav ul li a:focus {
            color: #d6d6d6; }
          header nav ul li a:active {
            color: #d6d6d6; }
  header button.botao-menu {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 24px 8px;
    background-color: transparent;
    border: inherit; }
    header button.botao-menu span[aria-hidden] {
      position: relative;
      margin-top: 8px;
      margin-bottom: 8px;
      user-select: none; }
      header button.botao-menu span[aria-hidden], header button.botao-menu span[aria-hidden]::before, header button.botao-menu span[aria-hidden]::after {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #68b054;
        outline: 1px solid transparent;
        transition-property: background-color, transform;
        transition-duration: 0.3s; }
      header button.botao-menu span[aria-hidden]::before, header button.botao-menu span[aria-hidden]::after {
        position: absolute;
        content: ""; }
      header button.botao-menu span[aria-hidden]::before {
        top: -8px; }
      header button.botao-menu span[aria-hidden]::after {
        top: 8px; }
    header button.botao-menu span:not([aria-hidden]) {
      overflow: hidden;
      position: absolute;
      top: auto;
      left: -10000px;
      height: 1px;
      width: 1px; }
    header button.botao-menu.open {
      z-index: 1000; }
      header button.botao-menu.open span[aria-hidden] {
        background-color: transparent; }
      header button.botao-menu.open span[aria-hidden]::before {
        transform: translateY(8px) rotate(45deg); }
      header button.botao-menu.open span[aria-hidden]::after {
        transform: translateY(-8px) rotate(-45deg); }
    @media (min-width: 64.0625em) {
      header button.botao-menu {
        display: none; } }

html {
  font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 400;
  font-size: 16px; }

body {
  width: 100%;
  color: #000000;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }
  @media (min-width: 48.0625em) {
    body {
      -webkit-overflow-scrolling: inherit;
      overflow-x: inherit; } }

main {
  min-height: calc(100vh - 443px); }

section {
  position: relative;
  padding: 72.8px 0; }
  @media (min-width: 48.0625em) {
    section {
      padding: 112px 0; } }
  section:before {
    content: "\2193";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin: auto auto 32px;
    color: #ffffff;
    font-family: FontAwesome;
    font-size: 1.125rem;
    line-height: 35px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #ffffff; }
  section:first-child {
    padding-top: 0; }
  section:nth-child(2):before {
    color: #9a9a9a;
    border: 1px solid #9a9a9a; }
  section:nth-child(3):before {
    color: #9a9a9a;
    border: 1px solid #9a9a9a; }
  section:last-child:before {
    display: none; }

footer {
  padding-top: 56px;
  min-height: 443px;
  color: #ffffff;
  text-align: center;
  background-color: #000000; }
  @media (min-width: 48.0625em) {
    footer {
      text-align: inherit; } }
  @media (max-width: 48em) {
    footer {
      text-align: left; } }
  @media (max-width: 40em) {
    footer {
      text-align: center; } }
  footer h5 {
    text-transform: uppercase;
    letter-spacing: -0.5px; }
  footer a {
    color: inherit; }
    footer a:hover {
      color: #ffffff; }
    footer a:focus {
      color: #d6d6d6; }
    footer a:active {
      color: #d6d6d6; }
  footer .row > div {
    margin-bottom: 32px;
    padding-left: 29.09091px;
    padding-right: 29.09091px; }
    @media (min-width: 48.0625em) {
      footer .row > div {
        margin-bottom: inherit; } }
  footer .footer__logo {
    background-image: url("../images/sprite.png");
    background-position: -648px 0px;
    width: 154px;
    height: 72px;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    z-index: 2;
    margin: 32px auto; }
    @media (min-width: 48.0625em) {
      footer .footer__logo {
        margin: 16px 0; } }
    footer .footer__logo a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    footer .footer__logo + p {
      text-align: justify; }
      footer .footer__logo + p + p {
        margin-top: 56px; }
  footer .footer__lastProjects ul li {
    display: inline-block;
    margin: 0 8px 8px 0; }
    @media (min-width: 64.0625em) {
      footer .footer__lastProjects ul li img {
        max-width: 100%;
        width: 100%; } }
    @media (max-width: 48em) {
      footer .footer__lastProjects ul li img {
        max-width: 10vh;
        width: 10vh; } }
    @media (max-width: 40em) {
      footer .footer__lastProjects ul li img {
        max-width: 15vh;
        width: 15vh; } }
  footer .footer__contact p {
    margin-top: 32px; }
  footer .footer__copyright {
    margin-top: 32px;
    height: 46px;
    text-align: center;
    background-color: #5f5f5f; }
    footer .footer__copyright.row > div {
      margin-bottom: inherit;
      padding: inherit; }

.rotate {
  position: relative;
  overflow: hidden;
  padding: 0; }
  .rotate figure {
    position: relative;
    background-position: center 50px;
    background-size: auto 100%;
    width: 100vw;
    height: 100vh; }
    @media (min-width: 48.0625em) {
      .rotate figure {
        width: 100%;
        height: 100%;
        max-height: 590px; } }
    .rotate figure:before {
      content: "";
      position: absolute;
      z-index: 10;
      width: 100vw;
      height: 100vh; }
    .rotate figure img {
      display: none;
      max-width: 100%;
      width: 100%; }
      @media (min-width: 48.0625em) {
        .rotate figure img {
          display: block; } }
    .rotate figure figcaption {
      position: absolute;
      z-index: 11;
      top: inherit;
      left: 5vh;
      right: inherit;
      bottom: 10%;
      max-width: 80vw;
      height: auto;
      margin: inherit;
      color: #ffffff; }
      @media (min-width: 48.0625em) {
        .rotate figure figcaption {
          top: inherit;
          left: 8vh;
          right: inherit;
          bottom: 12%;
          max-width: 370px;
          height: auto;
          margin: inherit; } }
      .rotate figure figcaption h2 {
        font-size: 1.125rem;
        text-shadow: 5px 1px 10px #000; }
        @media (min-width: 48.0625em) {
          .rotate figure figcaption h2 {
            font-size: 3.0625rem; } }
        @media (min-width: 40.0625em) {
          .rotate figure figcaption h2 {
            font-size: 2.4375rem; } }
      .rotate figure figcaption p {
        margin-top: 16px;
        font-size: 0.875rem;
        text-shadow: 5px 1px 10px #000; }
        @media (min-width: 48.0625em) {
          .rotate figure figcaption p {
            font-size: 1.125rem; } }
  .rotate .slick-dots {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto 64px;
    width: auto;
    height: 30px;
    text-align: center; }
    .rotate .slick-dots li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      text-indent: -9999px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 50%; }
    .rotate .slick-dots .slick-active {
      background-color: white; }

.about h3 {
  line-height: 1; }
  .about h3 span {
    font-family: Roboto;
    font-weight: 300;
    display: block;
    font-size: 1.125rem;
    font-style: italic;
    color: #000000;
    text-transform: initial; }

.about ul {
  padding-left: 24px; }
  .about ul li {
    list-style-type: disc; }

.about .nav-tabs {
  margin-bottom: 16px;
  padding-bottom: 5px;
  font-size: 0.75rem;
  color: #5ca456;
  text-transform: uppercase;
  border-bottom: 5px solid transparent; }
  @media (min-width: 48.0625em) {
    .about .nav-tabs {
      font-size: 0.875rem; } }
  .about .nav-tabs .nav-link {
    margin: .5rem 1rem;
    padding: inherit;
    padding-bottom: 5px;
    color: #000000;
    text-transform: uppercase;
    border-bottom: 5px solid transparent; }
  .about .nav-tabs .nav-item.show .nav-link,
  .about .nav-tabs .nav-link.active {
    font-family: Roboto;
    font-weight: 700;
    color: #5ca456;
    border: none;
    border-bottom: 5px solid #5ca456; }

.about .col-sm-3 {
  margin-bottom: 24px; }
  @media (min-width: 48.0625em) {
    .about .col-sm-3 {
      flex: 0 0 18.5%;
      max-width: 18.5%; }
      .about .col-sm-3:first-child {
        flex: 0 0 25%;
        max-width: 25%; }
      .about .col-sm-3:nth-child(6n+1) {
        margin-left: 24px;
        flex: 0 0 19%;
        max-width: 19%; } }
  .about .col-sm-3 p {
    font-size: 0.75rem; }

.solutions {
  background-color: #efefef; }
  .solutions .nav {
    flex-wrap: wrap;
    min-height: 130px; }
    .solutions .nav .nav-item {
      flex-grow: 1;
      flex-basis: 0; }
      .solutions .nav .nav-item a {
        height: 90%;
        max-height: inherit;
        padding: 16px 16px 24px;
        color: #5f5f5f;
        font-size: 0.72rem;
        text-align: center;
        background-color: #d6d6d6;
        border-radius: 0; }
        @media (min-width: 64.0625em) {
          .solutions .nav .nav-item a {
            max-height: 110px; } }
        .solutions .nav .nav-item a.active {
          height: 100%;
          max-height: inherit;
          background-color: #68b054;
          color: #ffffff; }
          @media (min-width: 64.0625em) {
            .solutions .nav .nav-item a.active {
              max-height: 130px; } }
  .solutions h5 {
    text-transform: initial; }
  .solutions .lead {
    background-color: #68b054;
    color: #ffffff; }
    .solutions .lead .row > div {
      padding: 32px; }
  .solutions .benefits .row > div {
    overflow: hidden; }
    .solutions .benefits .row > div p {
      font-size: 0.875rem; }
    .solutions .benefits .row > div.noArrow {
      margin-top: inherit; }
      .solutions .benefits .row > div.noArrow:before, .solutions .benefits .row > div.noArrow:after {
        display: none; }
    .solutions .benefits .row > div:before {
      content: "";
      position: relative;
      display: block;
      width: 100%;
      height: 37px;
      margin: 16px 0;
      background-color: inherit; }
    .solutions .benefits .row > div:after {
      content: "";
      position: absolute;
      top: -11px;
      right: 10px;
      display: block;
      width: 0;
      height: 0;
      margin: 16px 0;
      background-color: #efefef;
      border-style: solid;
      border-width: 28.5px 0 28.5px 28.5px;
      border-color: transparent transparent transparent inherit; }
    .solutions .benefits .row > div:first-child:before {
      background-color: #467d44; }
    .solutions .benefits .row > div:first-child:after {
      border-color: transparent transparent transparent #467d44; }
    .solutions .benefits .row > div:first-child + div:before {
      background-color: #5ca456; }
    .solutions .benefits .row > div:first-child + div:after {
      border-color: transparent transparent transparent #5ca456; }
    .solutions .benefits .row > div:first-child + div + div:before {
      background-color: #68b054; }
    .solutions .benefits .row > div:first-child + div + div:after {
      border-color: transparent transparent transparent #68b054; }
    .solutions .benefits .row > div:first-child + div + div + div:before {
      background-color: #8cbe50; }
    .solutions .benefits .row > div:first-child + div + div + div:after {
      border-color: transparent transparent transparent #8cbe50; }
    .solutions .benefits .row > div:first-child + div + div + div + div:before {
      background-color: #b1cd49; }
    .solutions .benefits .row > div:first-child + div + div + div + div:after {
      border-color: transparent transparent transparent #b1cd49; }
    .solutions .benefits .row > div:first-child + div + div + div + div + div:before {
      background-color: #d8de3f; }
    .solutions .benefits .row > div:first-child + div + div + div + div + div:after {
      border-color: transparent transparent transparent #d8de3f; }
  .solutions .howWorks .row > div {
    position: relative; }
  .solutions #solucoes--item_01 .howWorks p:first-child,
  .solutions #solucoes--item_02 .howWorks p:first-child {
    margin-bottom: 112px; }
  .solutions #solucoes--item_01 .howWorks p + p,
  .solutions #solucoes--item_02 .howWorks p + p {
    position: absolute;
    bottom: 0; }

.news {
  background-color: #d8de3f;
  color: #5f5f5f; }
  .news p,
  .news li {
    font-size: 0.75rem; }
  .news button,
  .news .btn {
    width: 100%;
    padding: 8px 16px;
    font-size: 0.75rem;
    text-transform: uppercase; }

.contact {
  padding-bottom: 0; }
  .contact h4 {
    margin-bottom: 24px; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0; }

.margin-left {
  margin-left: 15px; }

.margin-right {
  margin-right: 15px; }

.nopad-left {
  padding-left: 0; }

.nopad-right {
  padding-right: 0; }

@media (max-width: 640px) {
  .center-block-mobile {
    float: none !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important; }
  .text-center-mobile {
    text-align: center; } }

.center-block {
  float: none !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }
  @media (max-width: 767px) {
    .vcenter {
      display: inherit;
      float: inherit; } }

.vbottom {
  display: inline-block;
  vertical-align: bottom;
  float: none; }

.letter-spacing {
  letter-spacing: 2px; }

label {
  white-space: nowrap; }

.bg--primary-darker {
  background-color: #467d44; }

.bg--primary-dark {
  background-color: #5ca456; }

.bg--primary-base {
  background-color: #68b054; }

.bg--primary-lightest {
  background-color: #8cbe50; }

.bg--primary-lighter {
  background-color: #b1cd49; }

.bg--primary-light {
  background-color: #d8de3f; }

.bg--light-base {
  background-color: #ffffff; }

.bg--light-lighten {
  background-color: #efefef; }

.bg--light-lighter {
  background-color: #dddddd; }

.bg--light-very-light {
  background-color: #d7d7d7; }

.bg--light-lightest {
  background-color: #d6d6d6; }

.bg--dark-base {
  background-color: #000000; }

.bg--dark-darkest {
  background-color: #2a2a2a; }

.bg--dark-darker {
  background-color: #5f5f5f; }

.bg--dark-darken {
  background-color: #9a9a9a; }
