.about {
	h3 {
		line-height: 1;
		span {
			@include font(light);

			display: block;

			font-size: font-size(big);
			font-style: italic;
			color: color(dark);
			text-transform: initial;
		}
	}

	ul {
		padding-left: space(m);

		li {
			list-style-type: disc;
		}
	}

	.nav-tabs {
		@include responsive(medium) {
			font-size: font-size(medium);
		}

		margin-bottom: space(base);
		padding-bottom: 5px;

		font-size: font-size(small);
		color: color(primary, dark);
		text-transform: uppercase;
		border-bottom: 5px solid transparent;

		& .nav-link {
			margin: .5rem 1rem;
			padding: inherit;
			padding-bottom: 5px;

			color: color(dark);
			text-transform: uppercase;
			border-bottom: 5px solid transparent
		}

		& .nav-item.show .nav-link,
		& .nav-link.active {
			@include font(bold);

			color: color(primary, dark);
			border: none;
			border-bottom: 5px solid color(primary, dark);
		}
	}

	.col-sm-3 {
		margin-bottom: space(m);
		@include responsive(medium) {
			flex: 0 0 18.5%;
			max-width: 18.5%;

			&:first-child {
				flex: 0 0 25%;
				max-width: 25%;
			}

			&:nth-child(6n+1) {
				margin-left: space(m);
				flex: 0 0 19%;
				max-width: 19%;
			}
		}

		p {
			font-size: font-size(small)
		}
	}
}