.news {
	background-color: color(primary, light);
	color: color(dark, darker);

	p,
	li {
		font-size: font-size(small);
	}

	button,
	.btn {
		width: 100%;
		padding: space(p) space(base);

		font-size: font-size(small);
		text-transform: uppercase;
	}
}