.rotate {
	position: relative;
	overflow: hidden;

	padding: 0;

	figure {
		@include responsive(medium) {
			width: 100%;
			height: 100%;
			max-height: 590px;
		}

		position: relative;

		background-position: center 50px;
		background-size: auto 100%;

		width: 100vw;
		height: 100vh;

		&:before {
			content: "";
			position: absolute;
			z-index: 10;

			width: 100vw;
			height: 100vh;
		}

		img {
			@include responsive(medium) {
				display: block;
			}

			display: none;
			max-width: 100%;
			width: 100%;

		}

		figcaption {
			@include responsive(medium) {
				top: inherit;
				left: 8vh;
				right: inherit;
				bottom: 12%;

				max-width: 370px;
				height: auto;
				margin: inherit;
			}

			position: absolute;
			z-index: 11;
			top: inherit;
			left: 5vh;
			right: inherit;
			bottom: 10%;

			max-width: 80vw;
			height: auto;
			margin: inherit;

			color: color(light);

			h2 {
				@include responsive(medium) {
					font-size: font-size(xxxbig);
				}

				@include responsive(small) {
					font-size: font-size(xxbig);
				}

				font-size: font-size(big);
				text-shadow: 5px 1px 10px #000;
			}

			p {
				@include responsive(medium) {
					font-size: font-size(big);
				}

				margin-top: space(base);

				font-size: font-size(medium);
				text-shadow: 5px 1px 10px #000;
			}
		}
	}

	.slick-dots {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		margin: auto auto (space(g) * 2);
		width: auto;
		height: 30px;

		text-align: center;

		li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 5px;
			text-indent: -9999px;

			background-color: rgba(color(light), 0.3);
			border-radius: 50%;
		}

		.slick-active {
			background-color: rgba(color(light), 1);
		}
	}
}