.solutions {
	background-color: color(light, lighten);
	.nav {
		flex-wrap: wrap;
		min-height: 130px;
		.nav-item {
			flex-grow: 1;
			flex-basis: 0;
			a {
				@include responsive(large) {
					max-height: 110px;
				}

				height: 90%;
				max-height: inherit;
				padding: space(base) space(base) space(m);

				color: color(dark, darker);
				font-size: font-size(small) - .03;
				text-align: center;

				background-color: color(light, lightest);
				border-radius: 0;

				&.active {
					@include responsive(large) {
						max-height: 130px;
					}

					height: 100%;
					max-height: inherit;
					background-color: color(primary);
					color: color(light);
				}
			}
		}
	}
	h5 {
		text-transform: initial;
	}
	.lead {
		background-color: color(primary);
		color: color(light);
		.row {
			> div {
				padding: space(g);
			}
		}
	}
	.benefits {
		.row {
			> div {
				overflow: hidden;

				p {
					font-size: font-size(medium);
				}

				&.noArrow {
					margin-top: inherit;
					&:before,
					&:after {
						display: none;
					}
				}

				&:before {
					content: "";
					position: relative;

					display: block;
					width: 100%;
					height: 37px;
					margin: space(base) 0;

					background-color: inherit;
				}

				&:after {
					content: "";
					position: absolute;
					top: -11px;
					right: 10px;

					display: block;
					width: 0;
					height: 0;
					margin: space(base) 0;

					background-color: color(light, lighten);
					border-style: solid;
					border-width: 28.5px 0 28.5px 28.5px;
					border-color: transparent transparent transparent inherit;
				}

				&:first-child {
					&:before {
						background-color: color(primary, darker);
					}
					&:after {
						border-color: transparent transparent transparent color(primary, darker);
					}

					+ div {
						&:before {
							background-color: color(primary, dark);
						}

						&:after {
							border-color: transparent transparent transparent color(primary, dark);
						}

						+ div {
							&:before {
								background-color: color(primary);
							}

							&:after {
								border-color: transparent transparent transparent color(primary);
							}

							+div {
								&:before {
									background-color: color(primary, lightest);
								}

								&:after {
									border-color: transparent transparent transparent color(primary, lightest);
								}

								+div {
									&:before {
										background-color: color(primary, lighter);
									}

									&:after {
										border-color: transparent transparent transparent color(primary, lighter);
									}

									+div {
										&:before {
											background-color: color(primary, light);
										}

										&:after {
											border-color: transparent transparent transparent color(primary, light);
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.howWorks {
		.row {
			> div {
				position: relative;
			}
		}
	}
	#solucoes--item_01,
	#solucoes--item_02 {
		.howWorks {
			p {
				&:first-child {
					margin-bottom: (space(xg) * 2);
				}

				+p {
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
}